- page_title "成员"
- header_title group_title(@group, "成员", group_group_members_path(@group))
- @blank_container = true

.group-members-page
  - if current_user && current_user.can?(:admin_group_member, @group)
    .panel.panel-default
      .panel-heading
        增加成员到群组
      .panel-body
        - if should_user_see_group_roles?(current_user, @group)
          %p.light
            群组成员可以访问所有群组项目。
        .new-group-member-holder
          = render "new_group_member"

  .panel.panel-default
    .panel-heading
      %strong #{@group.name}
      群组成员
      %small
        (#{@members.total_count})
      .pull-right
        = form_tag group_group_members_path(@group), method: :get, class: 'form-inline member-search-form'  do
          .form-group
            = search_field_tag :search, params[:search], { placeholder: '使用名字查找已存在的成员', class: 'form-control', spellcheck: false }
          = button_tag class: 'btn', title: '搜索' do
            = icon("search")
    %ul.content-list
      - @members.each do |member|
        = render 'groups/group_members/group_member', member: member, show_controls: true
    = paginate @members, theme: 'gitlab'

:javascript
  $('form.member-search-form').on('submit', function(event) {
    event.preventDefault();
    Turbolinks.visit(this.action + '?' + $(this).serialize());
  });
