.comment-hints.clearfix
  .pull-left
    = link_to 'Markdown', help_page_path('markdown', 'markdown'), target: '_blank', tabindex: -1
    提示：
    = random_markdown_tip
  .pull-right
    = link_to '#', class: 'markdown-selector', tabindex: -1 do
      = icon('paperclip')
      附加文件
