- is_admin = defined?(admin) ? true : false
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        SSH 密钥
      %ul.well-list
        %li
          %span.light 标题：
          %strong= @key.title
        %li
          %span.light 创建时间：
          %strong= @key.created_at.stamp("2011-12-31")

  .col-md-8
    %p
      %span.light 指纹：
      %code.key-fingerprint= @key.fingerprint
    %pre.well-pre
      = @key.key
  .col-md-12
    .pull-right
      = link_to '删除', path_to_key(@key, is_admin), data: {confirm: '确定要继续？'}, method: :delete, class: "btn btn-remove delete-key"
