- page_title    '新群组'
- header_title  "群组", dashboard_groups_path

%h3.page-title
  新群组
%hr

= form_for @group, html: { class: 'group-form form-horizontal' } do |f|
  - if @group.errors.any?
    .alert.alert-danger
      %span= @group.errors.full_messages.first

  = render 'shared/group_form', f: f, autofocus: true

  .form-group.group-description-holder
    = f.label :avatar, "群组头像", class: 'control-label'
    .col-sm-10
      = render 'shared/choose_group_avatar_button', f: f

  .form-group
    .col-sm-offset-2.col-sm-10
      = render 'shared/group_tips'

  .form-actions
    = f.submit '创建群组', class: "btn btn-create", tabindex: 3
    = link_to '取消', dashboard_groups_path, class: 'btn btn-cancel'
