- page_title    "项目"
- header_title  "项目", dashboard_projects_path

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

.gray-content-block.clearfix
  = render 'filter'
= render 'projects', projects: @projects
= paginate @projects, theme: "gitlab"
