= form_tag(path, method: :get, id: "issue_search_form", class: 'pull-left issue-search-form') do
  .append-right-10.hidden-xs.hidden-sm
    = search_field_tag :issue_search, params[:issue_search], { placeholder: '标题或描述过滤', class: 'form-control issue_search search-text-input', spellcheck: false }
    = hidden_field_tag :state, params['state']
    = hidden_field_tag :scope, params['scope']
    = hidden_field_tag :assignee_id, params['assignee_id']
    = hidden_field_tag :author_id, params['author_id']
    = hidden_field_tag :milestone_id, params['milestone_id']
    = hidden_field_tag :label_id, params['label_id']
