= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, namespace_project_path(@project.namespace, @project, format: :atom, private_token: current_user.private_token), title: "#{@project.name} 活动")

= content_for :flash_message do
  - if current_user && can?(current_user, :download_code, @project)
    = render 'shared/no_ssh'
    = render 'shared/no_password'

= render 'projects/last_push'

= render "home_panel"

.project-stats.gray-content-block.second-block
  %ul.nav.nav-pills
    %li
      = link_to namespace_project_commits_path(@project.namespace, @project, current_ref) do
        = pluralize(number_with_delimiter(@project.commit_count), '次提交', '次提交')
    %li
      = link_to namespace_project_branches_path(@project.namespace, @project) do
        = pluralize(number_with_delimiter(@repository.branch_names.count), '个分支', '个分支')
    %li
      = link_to namespace_project_tags_path(@project.namespace, @project) do
        = pluralize(number_with_delimiter(@repository.tag_names.count), '个标签', '个标签')

    %li
      = link_to project_files_path(@project) do
        = repository_size

    - if default_project_view != 'readme' && @repository.readme
      %li
        = link_to 'Readme', readme_path(@project)

    - if @repository.changelog
      %li
        = link_to '变更日志', changelog_path(@project)

    - if @repository.license
      %li
        = link_to '许可证', license_path(@project)

    - if @repository.contribution_guide
      %li
        = link_to '贡献指南', contribution_guide_path(@project)

    - if current_user && can_push_branch?(@project, @project.default_branch)
      - unless @repository.changelog
        %li.missing
          = link_to add_changelog_path(@project) do
            增加变更日志
      - unless @repository.license
        %li.missing
          = link_to add_license_path(@project) do
            增加许可证
      - unless @repository.contribution_guide
        %li.missing
          = link_to add_contribution_guide_path(@project) do
            增加贡献指南

- if @project.archived?
  .text-warning.center.prepend-top-20
    %p
      = icon("exclamation-triangle fw")
      已归档项目！版本仓库只读

- if @repository.commit
  .content-block.second-block.white
    = render 'projects/last_commit', commit: @repository.commit, project: @project

%div{class: "project-show-#{default_project_view}"}
  = render default_project_view

- if current_user
  - access = user_max_access_in_project(current_user.id, @project)
  - if access
    .prepend-top-20.project-footer
      .gray-content-block.footer-block.center
        你拥有此项目的 #{access} 权限。
        - if @project.project_member_by_id(current_user)
          = link_to leave_namespace_project_project_members_path(@project.namespace, @project),
            data: { confirm: leave_project_message(@project) }, method: :delete, title: '离开项目', class: 'cred' do
            离开此项目
