%span.btn-group.btn-grouped
  = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'zip'), class: 'btn btn-default', rel: 'nofollow' do
    %i.fa.fa-download
    %span 源代码
  %a.btn.btn-default.dropdown-toggle{ 'data-toggle' => 'dropdown' }
    %span.caret
    %span.sr-only
      选择打包格式
  %ul.col-xs-10.dropdown-menu{ role: 'menu' }
    %li
      = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'zip'), rel: 'nofollow' do
        %i.fa.fa-download
        %span 下载 zip
    %li
      = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'tar.gz'), rel: 'nofollow' do
        %i.fa.fa-download
        %span 下载 tar.gz
