- page_title "通知"
- header_title page_title, profile_notifications_path

.gray-content-block.top-block
  这里是全局通知设置。

.prepend-top-default
= form_for @user, url: profile_notifications_path, method: :put, html: { class: 'update-notifications form-horizontal global-notifications-form' } do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag :notification_type, 'global'

  .form-group
    = f.label :notification_email, '通知电子邮箱', class: "control-label"
    .col-sm-10
      = f.select :notification_email, @user.all_emails, { include_blank: false }, class: "form-control"

  .form-group
    = f.label :notification_level, '通知等级', class: 'control-label'
    .col-sm-10
      .radio
        = f.label :notification_level, value: Notification::N_DISABLED do
          = f.radio_button :notification_level, Notification::N_DISABLED
          .level-title
            关闭
          %p 将不会通过电子邮件收到任何通知

      .radio
        = f.label :notification_level, value: Notification::N_MENTION do
          = f.radio_button :notification_level, Notification::N_MENTION
          .level-title
            被提及
          %p 只收到评论中 @自己 的通知

      .radio
        = f.label :notification_level, value: Notification::N_PARTICIPATING do
          = f.radio_button :notification_level, Notification::N_PARTICIPATING
          .level-title
            参与
          %p 只收到有关的通知 (比如：来自自己的提交或指派给自己的问题)

      .radio
        = f.label :notification_level, value: Notification::N_WATCH do
          = f.radio_button :notification_level, Notification::N_WATCH
          .level-title
            关注
          %p 将收到参与项目的所有通知

  .gray-content-block
    = f.submit '保存修改', class: "btn btn-create"

.row.all-notifications.prepend-top-default
  .col-md-6
    %p
      也可以单独指定每个群组或项目的通知等级。
      %br
      所有项目和群组默认使用上面的全局设置。
    %h4 群组：
    %ul.bordered-list
      - @group_members.each do |group_member|
        - notification = Notification.new(group_member)
        = render 'settings', type: 'group', membership: group_member, notification: notification

  .col-md-6
    %p
      给所属群组的项目指定通知等级，
      %br
      需要自己属于项目成员，而不仅仅是群组成员。
    %h4 项目：
    %ul.bordered-list
      - @project_members.each do |project_member|
        - notification = Notification.new(project_member)
        = render 'settings', type: 'project', membership: project_member, notification: notification
