- unless @project.empty_repo?
  - if current_user && can?(current_user, :fork_project, @project)
    - if current_user.already_forked?(@project) && current_user.manageable_namespaces.size < 2
      = link_to namespace_project_path(current_user, current_user.fork_of(@project)), title: '转到我的派生', class: 'btn has_tooltip' do
        = icon('code-fork fw')
        派生
        %span.count
          = @project.forks_count
    - else
      = link_to new_namespace_project_fork_path(@project.namespace, @project), title: "派生项目", class: 'btn has_tooltip' do
        = icon('code-fork fw')
        %span.count
          = @project.forks_count
