-if @merge_requests.any?
  %h2.merge-requests-title
    = pluralize(@merge_requests.count, '个相关合并请求', '个相关合并请求')
  %ul.bordered-list
    - has_any_ci = @merge_requests.any?(&:ci_commit)
    - @merge_requests.each do |merge_request|
      %li
        %span.merge-request-ci-status
          - if merge_request.ci_commit
            = render_ci_status(merge_request.ci_commit)
          - elsif has_any_ci
            = icon('blank fw')
        %span.merge-request-id
          \##{merge_request.iid}
        %span.merge-request-info
          %strong
            = link_to_gfm merge_request.title, merge_request_path(merge_request), class: "row_title"
          - unless @issue.project.id == merge_request.target_project.id
            在
            - project = merge_request.target_project
            = link_to project.name_with_namespace, namespace_project_path(project.namespace, project)
        %span.merge-request-status.prepend-left-10
          - if merge_request.merged?
            已合并
          - elsif merge_request.closed?
            已关闭
