- page_title "#{@issue.title} (##{@issue.iid})", "问题"
= render "header_title"

.issue
  .detail-page-header
    .status-box{ class: status_box_class(@issue) }
      - if @issue.closed?
        已关闭
      - else
        未关闭
    %span.identifier
      问题 ##{@issue.iid}
    %span.creator
      &middot;
      由 #{link_to_member(@project, @issue.author, size: 24)} 打开
      &middot;
      = time_ago_with_tooltip(@issue.created_at, placement: 'bottom', html_class: 'issue_created_ago')
      - if @issue.updated_at != @issue.created_at
        %span
          &middot;
          = icon('edit', title: '编辑时间')
          = time_ago_with_tooltip(@issue.updated_at, placement: 'bottom', html_class: 'issue_edited_ago')

    .pull-right
      - if can?(current_user, :create_issue, @project)
        = link_to new_namespace_project_issue_path(@project.namespace, @project), class: 'btn btn-grouped new-issue-link', title: '新问题', id: 'new_issue_link' do
          = icon('plus')
          新问题
      - if can?(current_user, :update_issue, @issue)
        - if @issue.closed?
          = link_to '重新打开', issue_path(@issue, issue: {state_event: :reopen}, status_only: true), method: :put, class: 'btn btn-grouped btn-reopen'
        - else
          = link_to '关闭', issue_path(@issue, issue: {state_event: :close}, status_only: true), method: :put, class: 'btn btn-grouped btn-close', title: '关闭问题'

        = link_to edit_namespace_project_issue_path(@project.namespace, @project, @issue), class: 'btn btn-grouped issuable-edit' do
          = icon('pencil-square-o')
          编辑

  .issue-details.issuable-details
    .detail-page-description.gray-content-block.second-block
      %h2.title
        = markdown escape_once(@issue.title), pipeline: :single_line
      %div
        - if @issue.description.present?
          .description{class: can?(current_user, :update_issue, @issue) ? 'js-task-list-container' : ''}
            .wiki
              = preserve do
                = markdown(@issue.description, cache_key: [@issue, "description"])
            %textarea.hidden.js-task-list-field
              = @issue.description

        .merge-requests
          = render 'merge_requests'

    .gray-content-block.second-block.oneline-block
      = render 'votes/votes_block', votable: @issue

    - if @closed_by_merge_requests.present?
      = render 'projects/issues/closed_by_box'

    .row
      %section.col-md-9
        .issuable-discussion
          = render 'projects/issues/discussion'

      %aside.col-md-3
        = render 'shared/issuable/sidebar', issuable: @issue

      = render 'shared/show_aside'
