.project-issuable-filter
  .controls
    .pull-left.hidden-xs
      - if @all_builds.running_or_pending.any?
        = link_to '取消所有', cancel_all_admin_builds_path, data: { confirm: '确定要继续么？' }, class: 'btn btn-danger', method: :post

  %ul.center-top-menu
    %li{class: ('active' if @scope.nil?)}
      = link_to admin_builds_path do
        正在运行的
        %span.badge.js-running-count= @all_builds.running_or_pending.count(:id)

    %li{class: ('active' if @scope == 'finished')}
      = link_to admin_builds_path(scope: :finished) do
        已完成的
        %span.badge.js-running-count= @all_builds.finished.count(:id)

    %li{class: ('active' if @scope == 'all')}
      = link_to admin_builds_path(scope: :all) do
        所有
        %span.badge.js-totalbuilds-count= @all_builds.count(:id)

.gray-content-block
  #{(@scope || 'running').capitalize} 的构建

%ul.content-list
  - if @builds.blank?
    %li
      .nothing-here-block 没有构建显示
  - else
    .table-holder
      %table.table.builds
        %thead
          %tr
            %th 状态
            %th 构建 ID
            %th 项目
            %th 提交
            %th 参考
            %th Runner
            %th 名称
            %th 运行时间
            %th 结束时间
            %th

        - @builds.each do |build|
          = render "admin/builds/build", build: build

    = paginate @builds, theme: 'gitlab'

